* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-wrapper {
    text-align: center;
    padding: 1rem;
}
 .matrix {
    font-size: 1.5rem; 
    display: inline-block;
 }

 .matrix th {
    padding: 0.5rem;
 }

 .button-wrapper {
    text-align: center;
 }

 .go-button {
     display: inline-block;
 }

  /* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}
  
  /* Side navigation links */
.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color on hover */
.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}